<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      State College Campus Class Alerts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list [inset]="true">
      <ion-item>
        <ion-label>Class Period 1 Cancelled </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Class Period 2 Cancelled </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>All other Periods will run as normal</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
