<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Announcements
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1><ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Events and Breaks</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <h3>Altoona Campus Spring Picnic Next Tuesday during Common hour!</h3>
      <h3>State College Campus Potato festival next Thursday</h3>
      <h3>Spring Break in 3 Weeks!</h3>
      <ion-menu-toggle>
        <ion-button>Click to close</ion-button>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Events and Breaks!</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-menu-toggle>
        <ion-button>Click to see upcoming events and breaks</ion-button>
      </ion-menu-toggle>
    </ion-content>
  </div></h1>

  

</ion-content>